@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/BlogAdmin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row" style="margin-left:0px">
    -
    <div class="col-12">
        -
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Users</h5>
                <span style="float:right;padding:5px;"> <a href="@Url.Action("AddUser","User")" style="border-radius:5px " class="btn btn-primary">Add User</a></span>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 1;}
                        @foreach (var user in Model)
                        {
                            <tr class="odd gradeX">
                                <td class="center">@count</td>
                                <td>@user.Name</td>
                                <td>@user.Lastname</td>
                                <td>@user.Email"</td>
                                <td class="center">
                                    
                                    <a asp-action="UpdateUser" asp-route-id="@user.Id" class="btn btn-warning">
                                        <i class="icon-edit"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">
                                        <i class="icon-trash"></i>
                                    </a>

                                </td>
                            </tr>
                            count++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



